.colo{
    display: flex;
    
    margin-top: 2rem;
    margin-bottom: -4rem;
    margin-left: 14rem;
}
.colo p{
    font-family: var(--font-family);
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -12.8px;
}


@media screen  and (max-width:570px){

}

@media screen and (max-width:554px){
    .colo{
        margin-left: 9.5rem;
        margin-bottom: -3rem;
    }

    .colo p{
        font-size: 38px;
    }
}
@media screen and (max-width:480px){
    .colo{
        margin-left: 7rem;
        margin-bottom: -2.5rem;

    }

    .colo p{
        font-size: 45px;
    }
}